.OwnerAppHeader {
	position: relative;
	background-color: #ffc0c0;
	height: 5em;
	z-index: 0;
}
.OwnerAppHeader #faBars {
	float: left;
	margin-top: 3%;
	margin-left: 2%;
}
.OwnerAppHeader #logo {
	margin-left: 4%;
}
.OwnerAppHeader #QRcode {
	float: right;
	z-index: 10px;
}
.OwnerAppHeader #faBell {
	float: right;
	margin-top: 3%;
	margin-right: 2%;
}
