.ReviewCard {
	text-align: center;
	border: 1px solid gray;
	margin: 10px;
	min-height: 150px;
}

.ReviewCard .ReviewCardScore {
	float: left;
}
.ReviewCard #profile {
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 1px;
	margin-top: 50px;
	border-radius: 100%;
	border: 1px solid gray;
	padding: 20px;
}

.ReviewCard textarea {
	float: left;
	margin-top: 50px;
	margin-left: 10px;
	width: 250px;
	height: 100px;
}

.ReviewCard img {
	float: right;
	margin-right: 1px;
}
